@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
   flex-direction: column; 
}

.container {
    margin-top: 150px;
}

.label-box span, .days-box span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
}

.day:hover {
    background-color: #5BD4A5;
    font-size: 20px;
}

.today {
    border: 2px solid #7D71EB;
}

.month-and-year {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.week {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

i {
    color: #D6534F;
    font-size: 24px;
}